<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<!-- Facebook: App ID y nombre para iOS -->
		<key>FacebookAppID</key>
		<string>2155606231614990</string>
		<key>FacebookClientToken</key>
		<string>4b22637f4c00d83c9787dcb2bb86f1eb</string>
		<key>FacebookDisplayName</key>
		<string>Festiva</string>

		<!-- URL scheme: debe ser fb + APP_ID -->
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb2155606231614990</string>
				</array>
			</dict>
		</array>

		<!-- Recomendado para que iOS pueda abrir/consultar apps de Facebook -->
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>fbapi</string>
			<string>fbauth2</string>
			<string>fb-messenger-share-api</string>
			<string>fbshareextension</string>
		</array>

		<!-- ATT (iOS 14+): texto del popup de rastreo -->
		<key>NSUserTrackingUsageDescription</key>
		<string>Festiva uses your advertising identifier to measure which campaigns drove the
			install and to show more relevant ads (for example, to avoid repeated ads).</string>

		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Festiva</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>festiva_flutter</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true />
		</dict>
		<key>NSCalendarsUsageDescription</key>
		<string>Festiva needs access to your calendar to save events you choose and remind you of
			time and place (e.g., “Concert on Friday at 8 pm”).</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Festiva uses your location to show nearby events and venues on the map and sort the
			list by distance (e.g., “Events within 1 km”).</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>

		<!-- Agregado por Chamo -->
		<key>FacebookAutoLogAppEventsEnabled</key>
		<true />
		<key>FacebookAdvertiserIDCollectionEnabled</key>
		<true />
		<key>SKAdNetworkItems</key>
		<array>
			<dict>
				<key>SKAdNetworkIdentifier</key>
				<string>v9wttpbfk9.skadnetwork</string>
			</dict>
		</array>
		<!-- Agregado por Chamo -->
	</dict>
</plist>